
:root {
/*	primary colors*/
	--midnight-blue: #003B6D;
	--blue-sky: #6699CC;
/*	secondary colors*/
	--dim-gray: #676767;
	--silver: #BDBDBD; 
}

#main {
	min-height: 70vh;
	color: var(--midnight-blue);
}

#search-button {
	color: var(--midnight-blue);
	border-color: var(--midnight-blue);
}

#navbar-toggler {
	border-color: var(--midnight-blue);
} 

#hero-image-div {
	border: 3px solid var(--midnight-blue);
	border-radius: 5px;
}

#hero-image {
	width: 100%;
	max-height: 50vh;
}

#cta-button {
	color: white;
	background-color: orange;
	font-size: 1.1em;
	border: 1px solid orange;
	border-radius: 25;
}

#mission-statement {
	font-size: 1.17em;
	border-radius: 5px;
}

#call-to-action {
	border-radius: 5px;
}

.page-content {
	border: 3px solid var(--midnight-blue);
	border-radius: 5px;
}

.content {
	font-size: 1.2em;
	line-height: 1.6;
}

/*#main-content-sections {
	display: flex;
	flex-direction: column;
}*/

.nav-link {
	color: var(--midnight-blue);
	font-size: 1.2em;
}

.external-links {
	margin-bottom: 1em;
}

/*.remove-padding {
	padding-right: 0 !important;
	padding-left: 0 !important;
}*/

ul {
	list-style-type: none;
	padding-left: 2.5em;
	text-align: left;
}

li {
	line-height: 2.3;

}

ul li a {
	text-decoration: none;
	color: var(--midnight-blue);
/*	font-size: 1.2em;*/
}

ul li a:hover {
	text-decoration: underline;
}

img {
	border-radius: 5px;
}

span a {
	text-decoration: none;
}

input[type=text], input[type=email], input[type=tel], input[type=search] {
	border-color: var(--midnight-blue);
}

aside {
	height: 100%;
}

.form {
	border: 2px solid var(--midnight-blue);
	border-radius: 5px;
	background-color: #6699CC; 
	font-size:1.3em;
}

.fieldset {
	border: 2px solid var(--midnight-blue);
	border-radius: 5px;
	background-color: var(--silver);
}

.btn-secondary {
	border: 1px solid #003B6D; 
	background-color: #BDBDBD; 
	color: #003B6D; 
	font-size: 1.1em;
}

.btn-secondary:hover {
	background-color: var(--midnight-blue);
	border: 1px solid var(--midnight-blue);
	color: var(--silver);
}

@media screen and (min-width: 763px) {
	#hero-image-div {
		position: relative;
		color: white;
	}

	#hero-image {
		max-height: 55vh;
	}

	#mission-statement {
		font-size: 1.5em;
		background-color: #67676799; /*dim-gray with opacity*/
		max-width: 70%;
		color: white;
		border: 1px solid var(--midnight-blue);
		position: absolute;
		top: 5%;
		left: 5%;
	}

	#call-to-action {
		font-size: 1.2em;
		background-color: #67676799;
		border: 1px solid var(--midnight-blue);
		max-width: 70%;
		position: absolute;
		left: 5%;
		top: 65%;
	}

	.nav-link {
		font-size: 1em;
		margin-right: 2em;
	}

	ul {
		padding-left: 2em;
	}

	li {
		line-height: 1.7em;
	}

	ul li a {
		font-size: 1em;
	}

	section>p {
	font-size: 1.2em;
	line-height: 1.6;
	}

	aside>p {
		font-size: 1.2em;
		line-height: 1.6;
	}
}

@media screen and (min-width: 1000px) {
	#hero-image {
		max-height: 70vh;
	}

	#cta-button {
		font-size: 1.3em;
	}

	#mission-statement {
		font-size: 2em;
		max-width: 65%;
		top: ;
		left: ;
	}

	#call-to-action {
		font-size: 1.5em;
		max-width: 65%;
		top: 60%;
	}

	#hero-message {

	}

	#cta-button {

	}

	.nav-link {
		margin-right: 6.5em;
		font-size: 1.3em; 
	}

}
